form {
  background-color: rgb(236, 111, 28);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
}

button {
  background-color: rgb(233, 208, 191);
  border: none;
  border-radius: 7px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.356);
  font-weight: 800;
  height: 40px;
  margin-bottom: 30px;
  width: 200px;
}

button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
